$header-color: #436372;
$title-color: #1a1a1a;
$footer-color: #7b7b7b;


%rubik-400 {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
}


%rubik-500 {
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
}


%dmsans-400 {
  font-family: 'DMSans', sans-serif;
  font-weight: 400;
}

%dmsans-500 {
  font-family: 'DMSans', sans-serif;
  font-weight: 500;
}

%dmsans-700 {
  font-family: 'DMSans', sans-serif;
  font-weight: 700;
}