$header-color: #436372;
$title-color: #1a1a1a;
$footer-color: #7b7b7b;
$main-color:  #243f4d;
$warm-wood: #fcd7b6;

%rubik-400 {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
}


%rubik-500 {
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
}


%dmsans-400 {
  font-family: 'DMSans', sans-serif;
  font-weight: 400;
}

%dmsans-500 {
  font-family: 'DMSans', sans-serif;
  font-weight: 500;
}

%dmsans-700 {
  font-family: 'DMSans', sans-serif;
  font-weight: 700;
}

%poppins-700 {
  font-family: Poppins, sans-serif;
  font-weight: 700;
}

@function max($numbers...) {
  @return m#{a}x(#{$numbers});
}
@function min($numbers...) {
  @return m#{i}n(#{$numbers});
}