@import "vars";
@import "fonts";
@import "reset";
@import "global";

.header {
  @extend %rubik-500;
  padding: 50px 0;
  color: $header-color;
  text-decoration: none;
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.logo {
  @extend %rubik-500;
  color: $header-color;
  display: flex;
  align-items: center;
  text-decoration: none;

  &__svg {
    transform-origin: 100% 100% 0;
    transition: transform 4s;
    margin-right: 10px;
  }

  &__text {
    font-size: 36px;
  }
}

.logo:hover .logo__svg {
  animation: logorotation 8s linear infinite;
}

@keyframes logorotation {
  from {
    transform: rotate3d(90, 90, 0, 0deg) scaleX(1);
  }
  50% {
    transform: rotate3d(90, 90, 0, 180deg) scaleX(0.75);
  }
  to {
    transform: rotate3d(90, 90, 0, 360deg) scaleX(1);
  }
}

.menu {
  &__list {
    display: flex;
  }
  &__item:not(:last-child) {
    margin-right: 32px;
  }
  &__item {
    font-size: 15px;
    transition: transform 0.3s;
  }

  &__item:hover {
    transform: scale(1.2);
  }
  &__link {
    color: inherit;
    text-decoration: inherit;
  }
}

.user-nav {
  display: flex;
  align-items: center;
  text-align: center;

  &__search {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 52px;
    height: 52px;
    background-color: #edf1f4;
    border-radius: 50%;
    margin-right: 20px;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fcd7b6;
    border-radius: 62px;
    margin-right: 18px;
    padding: 5px 28px 0px;
  }

  &__liked {
    position: relative;
    margin-right: 24px;
  }

  &__cart {
    position: relative;
  }

  &__num {
    position: absolute;
    top: 6px;
    right: 6px;
    width: 16px;
    height: 16px;
    line-height: 16px;
    color: #000;
    font-size: 10px;
    background-color: #fff;
    border-radius: 50%;
  }

  &__menu {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 52px;
    height: 52px;
    background-color: #a3bbc8;
    border-radius: 50%;
  }

  &__link {
    display: flex;
    align-items: center;
    padding: 15px;
  }
}

.footer {
  @extend %rubik-400;
  font-size: 14px;
  color: $footer-color;

  &__link {
    color: inherit;
    text-decoration: none;
  }
}

.footer-top {
  display: flex;
  justify-content: space-between;
  padding-bottom: 75px;
  border-bottom: 1px solid #a3bbc8;
  &__item:not(:last-child) {
    max-width: 200px;
  }
  &__item:last-child {
    max-width: 270px;
  }
  &__title {
    display: block;
    @extend %dmsans-700;
    font-size: 16px;
    text-transform: uppercase;
    color: #1f2044;
    margin-bottom: 14px;
  }
  &__logo {
    margin-top: -14px;
    margin-bottom: 14px;
  }
  &__address {
    font-style: normal;
  }
  &__phone,
  &__address,
  &__list-item:not(:last-child) {
    margin-bottom: 12px;
  }
  &__text {
    margin-bottom: 32px;
  }

  &__form {
    height: 38px;
  }

  &__input,
  &__btn {
    height: 100%;
    border: none;
  }

  &__input {    
    background-color: #fcd7b6;
  }
  &__input::placeholder {
    padding-left: 14px;
    font-size: 12px;
    color: #234969;
  }
  &__btn {
    margin-top: 1px;
    color: #fff;
    background-color: #a3bbc8;
  }
}

.footer-bottom {
  display: flex;
  align-items: center;
  min-height: 90px;
  &__menu {
    margin-left: auto;
    display: flex;
  }
  &__item {    
    text-align: center;
    padding: 0 12px;
  }
  &__item:not(:last-child) {
    border-right: 1px solid #7b7b7b;
  }
  &__item:last-child {
    padding-right: 0;
  }
}

@import "media";
