@import "vars";
@import "fonts";
@import "reset";
@import "libs";
@import "mixins";
@import "global";

.header {
  @extend %rubik-500;
  padding: 50px 0;
  color: $header-color;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu {
  display: flex;

  &__item {
    font-size: 15px;
    transition: transform 0.3s;

    &:not(:last-child) {
      margin-right: 32px;
    }

    &:hover {
      transform: scale(1.2);
    }
  }
}

.user-nav {
  display: flex;
  align-items: center;
  text-align: center;

  &__search {
    position: relative;
    margin-right: 20px;

    &:hover {
      .user-nav__search-btn {
        background-color: #a3bbc8;
      }

      .user-nav__search-btn svg {
        fill: #fff;
      }

      .user-nav__input {
        width: 220px;
        opacity: 1;
        padding: 0 10px;
      }
    }
  }

  &__input {
    position: absolute;
    opacity: 0;
    height: 52px;
    width: 52px;
    top: 50%;
    left: 10%;
    border: 1px solid #a3bbc8;
    border-radius: 24px;
    transform: translate(-100%, -50%);
    padding: 0 0px;
    z-index: 0;
    transition: width 0.3s, opacity 1s, transform 0s;
  }

  &__search-btn {
    position: absolute;
    width: 52px;
    height: 52px;
    top: 50%;
    transform: translate(-100%, -50%);    
    background-color: #edf1f4;
    transition: background-color 0.3s;

    svg {
      fill: #243f4d;
      transition: transform 0.25s;
    }
    &:active {
      svg{
        transform: scale(1.2);
      }
    }
  }

  &__wrapper {
    height: 52px;
    width: 178px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fcd7b6;
    border-radius: 62px;
    margin-right: 18px;    
  }

  &__liked {
    position: relative;
    height: 32px;
    width: 50%;    
    border-right: 1px solid rgba($color: #fff, $alpha: 0.3);

    svg {      
      transform: translateY(50%);
      transition: fill 0.3s;
    }

    &:hover {
      svg {
        fill: #fff;
      }
    }

  }

  &__cart {
    position: relative;
    height: 32px;
    width: 50%;    
    svg {
      transform: translateY(50%);
      transition: fill 0.3s;
    }

    &:hover {
      svg {
        fill: #fff;
      }
    }
  }

  &__num {
    position: absolute;
    top: 2px;
    right: 25px;
    width: 16px;
    height: 16px;
    font-size: 10px;
    line-height: 1.6;
    color: #000;
    background-color: #fff;
    border-radius: 50%;
  }

  &__menu-btn {    
    width: 52px;
    height: 52px;    
    background-color: #a3bbc8;    
    svg {
      transition: transform 0.5s;
      fill: #fff;
    }
    &:hover {
      svg {
        transform: rotate(360deg);
      }
    }  
    &:active {
      svg {
        transform: scale(1.2);
      }      
    }   
  }

  &__link {
    display: flex;
    align-items: center;
    padding: 15px;
  }
}

.top-slider {
  &__list {
    background-color: #fcd7b6;
  }

  &__item {
    min-height: 800px;
    cursor: pointer;
    height: 100%;
    display: flex !important;
    align-items: center;
    justify-content: center;
  }

  &__content {
    margin-top: -48px;
    margin-right: 100px;
  }

  &__title {
    max-width: 420px;
    display: block;
    @extend %rubik-500;
    font-size: 72px;
    line-height: 1;
    text-transform: uppercase;
    color: #243f4d;
    margin-bottom: 40px;
  }

  &__text {
    max-width: 360px;
    @extend %rubik-400;
    font-size: 18px;
    color: $header-color;
    margin-bottom: 42px;
  }

  &__link {    
    color: #fff;
    background-color: #a3bbc8;  
    svg {
      fill: #fff;
    }  
  }

  &__image-container {
    position: relative;
  }

  &__image-container::after {
    content: "";
    position: absolute;
    border-radius: 50%;
    background-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
    left: 110px;
    top: -163px;
    width: 634px;
    height: 634px;
    z-index: -1;
  }

  .slick-dots {
    @extend %rubik-500;
    display: flex;
    justify-content: center;
    transform: translateY(-50px);

    li {
      button {
        width: 29px;
        height: 29px;
        font-size: 11px;
        color: #243f4d;
        cursor: pointer;
        border: none;
        border-radius: 50%;
        background-color: rgba($color: #fff, $alpha: 0.3);
      }

      &.slick-active {
        border-radius: 50%;
        background-color: rgba($color: #fff, $alpha: 1);
      }
    }

    li:not(:last-child) {
      margin-right: 10px;
    }
  }
}

.features {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 170px;
  background-color: #fef7f0;

  &__item {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 2;
    padding: 25px;
  }

  &__item:not(:last-child) {
    border-right: 1px solid #e8e4df;
  }

  &__item::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background-image: url("../images/icons/dot-features.svg");
  }

  &__item--support::before {
    width: 49px;
    height: 49px;
    left: 72px;
    background-image: url("../images/icons/24-7.svg");
  }

  &__item--delivery::before {
    width: 49px;
    height: 29px;
    left: 110px;
    background-image: url("../images/icons/delivery-truck.svg");
  }

  &__item--payment::before {
    width: 49px;
    height: 44px;
    left: 88px;
    background-image: url("../images/icons/credit-card.svg");
  }

  &__item::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background-image: url("../images/icons/dot-features.svg");
  }

  &__item--support::after {
    top: 52%;
    left: 18%;
  }

  &__item--delivery::after {
    top: 52%;
    left: 25%;
  }

  &__item--payment::after {
    top: 56%;
    left: 21%;
  }

  &__title {
    @extend %dmsans-700;
    font-size: 18px;
    color: #414141;
  }

  &__text {
    @include line-clamp(16px, 2, 2);
    @extend %dmsans-400;
    font-size: 16px;
    color: #585858;
  }
}


.mix-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  &__item:not(:last-child) {
    margin-right: 20px;
  }
  &__btn {
    @extend %dmsans-700;
    font-size: 16px;
    color: #8b8b8b;
    background-color: transparent;
    padding: 0;
    border: none;
    transition: color 0.3s;
    &:hover {
      color: #000;
    }
  }
}

.product-card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 270px;
  height: 380px;
  box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);

  &__img {
    margin-top: auto;
  }

  &__description {
    text-align: center;
    margin-top: auto;
    margin-bottom: 38px;
  }

  &__name {
    display: block;
    @extend %dmsans-500;
    font-size: 16px;
    color: #243f4d;
    margin-bottom: 10px;
  }

  &__price {
    @extend %dmsans-700;
    font-size: 16px;
    color: #a3bbc8;
  }

  &__hover-menu {
    width: 170px;
    position: absolute;
    display: flex;
    top: 50%;
    opacity: 0;
    justify-content: space-around;
    transition: opacity 0.3s;
    fill: #a5bdc9;
  }

  &__search-link,
  &__cart-btn,
  &__liked-btn {
    svg {  
      transition: fill 0.3s;
    }        
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.2);
    transition: background-color 0.3s;
  }

  &__search-link:hover,
  &__cart-btn:hover,
  &__liked-btn:hover {
    svg {
      fill: #fff;
    }
    background-color: #a3bbc8;
  }

  &:hover {
    .product-card__hover-menu {
      opacity: 1;
    }
  }
  
}

.products {
  padding: 70px 0px;

  &__title {
    margin-bottom: 38px;
  }

  &__menu {    
    margin-bottom: 80px;
  }   

  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 40px;    
  }

  &__item {
    
  }

  

  .mixitup-control-active {
    color: #000;
  }
}

.footer {
  padding-top: 14px;
  @extend %rubik-400;
  font-size: 14px;
  color: $footer-color;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  padding-bottom: 75px;
  border-bottom: 1px solid #a3bbc8;

  &__item:not(:last-child) {
    max-width: 200px;
  }

  &__item:last-child {
    max-width: 270px;
  }

  &__title {
    display: block;
    @extend %dmsans-700;
    font-size: 16px;
    text-transform: uppercase;
    color: #1f2044;
    margin-bottom: 14px;
  }

  &__logo {
    margin-top: -14px;
    margin-bottom: 14px;
  }

  &__address {
    font-style: normal;
  }

  &__phone,
  &__address,
  &__list-item:not(:last-child) {
    margin-bottom: 12px;
  }

  &__text {
    margin-bottom: 32px;
  }

  &__form {
    height: 38px;
  }

  &__input,
  &__btn {
    height: 100%;
    border: none;
  }

  &__input {
    background-color: #fcd7b6;
  }

  &__input::placeholder {
    padding-left: 14px;
    font-size: 12px;
    color: #234969;
  }

  &__btn {
    margin-top: 1px;
    padding: 0 15px;
    color: #fff;
    background-color: #a3bbc8;
  }
}

.footer-bottom {
  display: flex;
  align-items: center;
  min-height: 90px;

  &__menu {
    margin-left: auto;
    display: flex;
  }

  &__item {
    text-align: center;
    padding: 0 12px;
  }

  &__item:not(:last-child) {
    border-right: 1px solid #7b7b7b;
  }

  &__item:last-child {
    padding-right: 0;
  }
}