.products {
  padding: 70px 0px;

  &__title {
    margin-bottom: 24px;
  }

  &__menu {
    margin-bottom: 80px;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 380px;
    grid-column-gap: 30px;
    grid-row-gap: 40px;
  }

  .mixitup-control-active {
    color: #000;
  }

  @media (max-width: 1199px) {
    &__list {      
      grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));      
    }    
  }  
}

