.video {
  position: relative;
  min-height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;  

  &__play-btn {    
    width: 98px;
    height: 98px;
    z-index: 2;
    background-color: #a3bbc8;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      z-index: -1;
      width: 126px;
      height: 126px;
      border-radius: 50%;
      background-color: rgba($color: #a3bbc8, $alpha: 0.0);
      transition: background-color 0.5s;
    }

    svg {
      fill: #fff;
    }    
  }  

  &:hover {
    .video__play-btn::after {        
      background-color: rgba($color: #a3bbc8, $alpha: 0.4);
    }
  }

  &:active {
    .video__play-btn {
      transform: scale(0.98);
    }
  }

  @media (max-width: 575px) {
    min-height: 400px;
  }
}
