.features {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 170px;
  background-color: #fef7f0;

  &__item {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 2;
    padding: 25px;

    &:not(:last-child) {
      border-right: 1px solid #e8e4df;
    }

    &--support {
      &::before {
        content: "";
        position: absolute;
        width: 51px;
        height: 53px;
        left: 22%;
        background-image: url("../images/svg/24-7.svg");
        background-repeat: no-repeat;
        background-size: contain;
      }
    }

    &--delivery {
      &::before {
        @extend .features__item--support;
        width: 54px;
        height: 36px;
        left: 20%;
        top: 40%;
        background-image: url("../images/svg/delivery-truck.svg");
      }
    }

    &--payment {
      &::before {
        @extend .features__item--support;
        width: 54px;
        height: 52px;
        left: 20%;
        background-image: url("../images/svg/credit-card.svg");
      }
    }
  }

  &__item-container {
    margin-left: 170px;
  }

  &__title {
    @extend %dmsans-700;
    font-size: 18px;
    color: #414141;
  }

  &__text {
    @include line-clamp(16px, 2, 2);
    @extend %dmsans-400;
    color: #585858;
  }

  @media (max-width: 1199px) {
    &__item-container {
      margin-left: 130px;
    }

    &__title {
      line-height: 1.3;
      margin-bottom: 8px;
    }
  }

  /* Стили для средних экранов (0 - 991 пикселей) */
  @media (max-width: 991px) {
    &__item-container {
      margin-left: 40px;
    }

    &__title {
      line-height: 1.3;
      margin-bottom: 8px;
    }

    &__text {
      @include line-clamp(16px, 1.5, 2);
    }

    &__item {
      &--support {
        &::before {
          left: 3%;
        }
      }

      &--delivery {
        &::before {
          left: 4%;
        }
      }

      &--payment {
        &::before {
          left: 4%;
        }
      }
    }
  }

  /* Стили для маленьких экранов (0 - 767 пикселей) */
  @media (max-width: 767px) {
    &__item-container {
      margin: 0;
    }

    &__text {
      @include line-clamp(14px, 1.5, 3);
    }

    &__item {
      &--support {
        &::before {
          display: none;
        }
      }

      &--delivery {
        &::before {
          display: none;
        }
      }

      &--payment {
        &::before {
          display: none;
        }
      }
    }
  }

  /* Стили для очень маленьких экранов (0 - 575 пикселей) */
  @media (max-width: 575px) {
    grid-template-columns: 1fr;
    grid-template-rows: 140px 90px 100px;    

    &__item {
      &:not(:last-child) {
        border-right: none;
      }
    }
  }
}