.footer {
  padding-top: 94px;
  font-size: 14px;
  color: $footer-color;

  &__top {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1.25fr;
    column-gap: 80px;
    padding-bottom: 75px;
    border-bottom: 1px solid #a3bbc8;
  }

  &__title {
    display: block;
    @extend %dmsans-700;
    text-transform: uppercase;
    color: #1f2044;
    margin-bottom: 14px;
  }

  &__link {
    transition: color 0.3s;

    &:hover {
      color: #000;
    }
  }

  &__logo {
    display: block;
    margin-top: -14px;
    margin-bottom: 24px;
  }

  &__address {
    font-style: normal;
  }

  &__address-item {
    text-transform: uppercase;

    a {
      text-transform: none;
    }
  }

  &__address-item,
  &__list-item:not(:last-child) {
    margin-bottom: 12px;
  }

  &__text {
    margin-bottom: 32px;
  }

  &__form {
    height: 38px;
  }

  &__label {
    display: flex;
  }

  &__input,
  &__btn {
    padding-top: 14px;
    padding-bottom: 14px;
    border: none;
  }

  &__input {
    background-color: $warm-wood;
    padding-left: 10px;

    &::placeholder {
      padding-left: 14px;
      font-size: 12px;
      color: #234969;
    }
  }

  &__btn {
    padding: 0 15px;
    color: #fff;
    background-color: #a3bbc8;
    transition: background-color 0.3s;

    &:hover {
      background-color: #436372;
    }

    &:active {
      transform: scale(0.99);
    }
  }

  &__bottom {
    display: flex;
    align-items: center;
    min-height: 90px;
  }

  &__menu {
    margin-left: auto;
    display: flex;
  }

  &__menu-item {
    text-align: center;
    padding: 0 12px;

    &:not(:last-child) {
      border-right: 1px solid #7b7b7b;
    }

    &:last-child {
      padding-right: 0;
    }
  }

  @media (max-width: 1199px) {
    &__top {
      column-gap: 30px;
    }
  }

  @media (max-width: 991px) {
    &__top {
      padding-bottom: 25px;
    }
  }

  @media (max-width: 767px) {
    &__top {
      grid-template-columns: 2fr 1fr 1fr;
      grid-row-gap: 20px;
      grid-template-rows: 1fr 1fr;
      padding-bottom: 0px;
    }
  }

  @media (max-width: 575px) {
    &__top {
      grid-template-columns: 1fr;
      grid-template-rows: 0.8fr 1fr 1fr 1fr;
    }

    &__copyright {
      display: none;
    }

    &__menu {
      margin: 0 auto;
    }
  }
}