.header {
  @extend %rubik-500;
  padding: 50px 0;
  color: $header-color;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu {
  display: flex;

  &__item:not(:last-child) {
    margin-right: 32px;
  }

  &__link {
    display: block;
    font-size: 15px;
    transition: transform 0.3s;

    &:hover {
      transform: scale(1.2);
    }
  }
}

.user-nav {
  display: flex;
  align-items: center;
  text-align: center;

  &__search {
    position: relative;
    margin-right: 20px;

    &:hover {
      .user-nav__search-btn {
        background-color: #a3bbc8;
      }

      .user-nav__search-btn svg {
        fill: #fff;
      }

      .user-nav__input {
        width: 220px;
        opacity: 1;
        padding: 0 10px;
      }
    }
  }

  &__input {
    position: absolute;
    opacity: 0;
    height: 52px;
    width: 52px;
    top: 50%;
    left: 10%;
    border: 1px solid #a3bbc8;
    border-radius: 24px;
    transform: translate(-100%, -50%);
    padding: 0 0px;
    z-index: 0;
    transition: width 0.3s, opacity 1s, transform 0s;
  }

  &__search-btn {
    position: absolute;
    width: 52px;
    height: 52px;
    top: 50%;
    transform: translate(-100%, -50%);
    background-color: #edf1f4;
    transition: background-color 0.3s;

    svg {
      fill: $main-color;
      transition: transform 0.25s;
    }

    &:active {
      svg {
        transform: scale(1.2);
      }
    }
  }

  &__wrapper {
    height: 52px;
    width: 178px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $warm-wood;
    border-radius: 62px;
    margin-right: 18px;
  }

  &__liked {
    position: relative;
    height: 32px;
    width: 50%;
    border-right: 1px solid rgba($color: #fff, $alpha: 0.3);

    svg {
      transform: translateY(50%);
      transition: fill 0.3s;
    }

    &:hover {
      svg {
        fill: #fff;
      }
    }
  }

  &__cart {
    position: relative;
    height: 32px;
    width: 50%;

    svg {
      transform: translateY(50%);
      transition: fill 0.3s;
    }

    &:hover {
      svg {
        fill: #fff;
      }
    }
  }

  &__num {
    position: absolute;
    top: 2px;
    right: 25px;
    width: 16px;
    height: 16px;
    font-size: 10px;
    line-height: 1.6;
    color: #000;
    background-color: #fff;
    border-radius: 50%;
  }

  &__menu-btn {
    width: 52px;
    height: 52px;
    background-color: #a3bbc8;

    svg {
      transition: transform 0.5s;
      fill: #fff;
    }

    &:hover {
      svg {
        transform: rotate(360deg);
      }
    }

    &:active {
      svg {
        transform: scale(1.2);
      }
    }
  }

  &__link {
    display: flex;
    align-items: center;
    padding: 15px;
  }
}